<!DOCTYPE html>
<html lang="en">
		
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../view/home.css">
	</head>
		
	<body>
		<div id="wrapper">
			<h1>BEM VINDO AO CAR PARK PLAZA!</h1>
			<div class="mobile">
				<input type="checkbox" id="tm" />
				<ul class="sidenav">
					<li><a href="../view/retirar.html"><i class="fa fa-check"></i><b>Veículo estacionado</b></a></li>
					<li><a href="../view/localizacao.html"><i class="fa fa-inbox"></i><b>Localização</b></a></li>
				</ul>
				<section>
					<label for="tm">Pressione e veja as Opções!</label>
				</section>
			</div>
		</div>
		<script src="../view/home.js"></script>
	</body>
		
</html>