<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
     <meta content="width=device-width">
		<title>Localização</title>
		<link rel="stylesheet" type="text/css" href="../view/localizacao.css">
</head>
<body>
    <div class="marquee">
        <h1><marquee behavior="alternate" scrollamount="10">LOCALIZAÇÃO!</marquee></h1>	 
    </div>		
        <br></br>
        <br></br>
	<center><iframe src="https://www.google.com/maps/dir/25.1236251,55.2086152/Umm+Suqeim+St,+Al+Qouz+Industrial+Area+3%D8%8C+opposite+ENOC+and+Mc+Donald's+-+Dubai%E2%80%AD/@25.1186515,55.1389207,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3e5f6bc18e628c87:0x2efa9b7886f7228b!2m2!1d55.208961!2d25.118668" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> </center>
</body>
</html>	